<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.manager.dao.TabAdminMapper">
  <resultMap id="BaseResultMap" type="com.user.manager.vo.TabAdminVO">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone_no" jdbcType="VARCHAR" property="phoneNo" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="user_level" jdbcType="INTEGER" property="userLevel" />
    <result column="available" jdbcType="CHAR" property="available" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, email, phone_no, pwd, salt, user_level, available, create_user, app_id, 
    update_date, create_date, remark
  </sql>

  <sql id="Usual_Column_List">
    id, name, email, phone_no, user_level, available, create_user, app_id,
    update_date, create_date, remark
  </sql>


  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tab_admin
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectUsualByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Usual_Column_List" />
    from tab_admin
    where id = #{id,jdbcType=VARCHAR}
  </select>


  <select id="selectBySelective" resultMap="BaseResultMap">
    select
    <include refid="Usual_Column_List" />
    from tab_admin
    where 1=1
    <if test="name != null">
      and name = #{name,jdbcType=VARCHAR}
    </if>
    <if test="email != null">
      and email = #{email,jdbcType=VARCHAR}
    </if>
    <if test="phoneNo != null">
      and phone_no = #{phoneNo,jdbcType=VARCHAR}
    </if>
    <if test="userLevel != null">
      and user_level = #{userLevel,jdbcType=INTEGER}
    </if>
    <if test="available != null">
      and available = #{available,jdbcType=CHAR}
    </if>
    <if test="appId != null">
      and app_id = #{appId,jdbcType=VARCHAR}
    </if>
    ORDER BY id ASC
  </select>

  <select id="selectByAvailable" resultMap="BaseResultMap">
    select
    <include refid="Usual_Column_List" />
    from tab_admin
    where 1=1
    <if test="available != null">
      and available = #{available,jdbcType=CHAR}
    </if>
    ORDER BY id ASC
  </select>

  <select id="selectByPhoneNo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tab_admin
    where phone_no = #{phoneNo,jdbcType=VARCHAR}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tab_admin
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.user.manager.vo.TabAdminVO">
    insert into tab_admin (id, name, email, 
      phone_no, pwd, salt, 
      user_level, available, create_user, 
      app_id, update_date, create_date, 
      remark)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{phoneNo,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, 
      #{userLevel,jdbcType=INTEGER}, #{available,jdbcType=CHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{appId,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.user.manager.vo.TabAdminVO">
    insert into tab_admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="phoneNo != null">
        phone_no,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="userLevel != null">
        user_level,
      </if>
      <if test="available != null">
        available,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null">
        #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null">
        #{userLevel,jdbcType=INTEGER},
      </if>
      <if test="available != null">
        #{available,jdbcType=CHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.user.manager.vo.TabAdminVO">
    update tab_admin
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null">
        phone_no = #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null">
        user_level = #{userLevel,jdbcType=INTEGER},
      </if>
      <if test="available != null">
        available = #{available,jdbcType=CHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.user.manager.vo.TabAdminVO">
    update tab_admin
    set name = #{name,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone_no = #{phoneNo,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      user_level = #{userLevel,jdbcType=INTEGER},
      available = #{available,jdbcType=CHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>