<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.register.dao.TabAppMapper">
  <resultMap id="BaseResultMap" type="com.user.register.vo.TabAppVO">
    <id column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
    <result column="app_key" jdbcType="VARCHAR" property="appKey" />
    <result column="app_desc" jdbcType="VARCHAR" property="appDesc" />
    <result column="create_admin_id" jdbcType="VARCHAR" property="createAdminId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    app_id, app_name, app_key, app_desc, create_admin_id, create_date, flag, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tab_app
    where app_id = #{appId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tab_app
    where app_id = #{appId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.user.register.vo.TabAppVO">
    insert into tab_app (app_id, app_name, app_key, 
      app_desc, create_admin_id, create_date, 
      flag, remark)
    values (#{appId,jdbcType=VARCHAR}, #{appName,jdbcType=VARCHAR}, #{appKey,jdbcType=VARCHAR}, 
      #{appDesc,jdbcType=VARCHAR}, #{createAdminId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{flag,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.user.register.vo.TabAppVO">
    insert into tab_app
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appId != null">
        app_id,
      </if>
      <if test="appName != null">
        app_name,
      </if>
      <if test="appKey != null">
        app_key,
      </if>
      <if test="appDesc != null">
        app_desc,
      </if>
      <if test="createAdminId != null">
        create_admin_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appName != null">
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="appKey != null">
        #{appKey,jdbcType=VARCHAR},
      </if>
      <if test="appDesc != null">
        #{appDesc,jdbcType=VARCHAR},
      </if>
      <if test="createAdminId != null">
        #{createAdminId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.user.register.vo.TabAppVO">
    update tab_app
    <set>
      <if test="appName != null">
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="appKey != null">
        app_key = #{appKey,jdbcType=VARCHAR},
      </if>
      <if test="appDesc != null">
        app_desc = #{appDesc,jdbcType=VARCHAR},
      </if>
      <if test="createAdminId != null">
        create_admin_id = #{createAdminId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where app_id = #{appId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.user.register.vo.TabAppVO">
    update tab_app
    set app_name = #{appName,jdbcType=VARCHAR},
      app_key = #{appKey,jdbcType=VARCHAR},
      app_desc = #{appDesc,jdbcType=VARCHAR},
      create_admin_id = #{createAdminId,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      flag = #{flag,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where app_id = #{appId,jdbcType=VARCHAR}
  </update>
</mapper>